.App {
    text-align: left;
}

.App p {
    margin: 10px;
}

.App-logo {
    animation-name: App-logo-spin, App-logo-blur;
    animation-duration: 5s, 2s;
    animation-iteration-count: infinite, infinite;
    animation-direction: alternate;
    height: 80px;
}

.App-header {
    background-color: #a8a;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes App-logo-blur {
    from { filter: blur(0px); }
    to { filter: blur(4px); }
}
